<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Hello world</title>
</head>

<body>

    <h1 th:text="${'Hello ' + username}">Hello world</h1>

    <p>You are following:</p>
    <ul>
        <li th:each="f: ${following}">
            <a th:href="@{/{handle}(handle=${f.getTo().getHandle()})}">
                <span th:text="${f.getTo().getUsername()}">username</span>
                since
                <span th:text="${f.getCreated()}">created</span>
            </a>
        </li>
    </ul>

    <p>You have followers:</p>
    <ul>
        <li th:each="f: ${followers}">
            <a th:href="@{/{handle}(handle=${f.getFrom().getHandle()})}">
                <span th:text="${f.getFrom().getUsername()}">username</span>
            </a>
            since
            <span th:text="${f.getCreated()}">created</span>
            <a th:href="@{/{handle}/block(handle=${f.getFrom().getHandle()})}">
                block user
            </a>
        </li>
    </ul>

    <form th:action="@{/logout}" method="GET">
        <button type="submit">Logout</button>
    </form>

</body>

</html>
